.background {
  viewport-fill: black;
}

#myTime {
  font-size: 100;
  font-weight: bold;
  font-family: Seville-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 50%;
  y: 30%;
  fill: #f8fcf8;
}

#myDateLabel {
  font-size: 36;
  font-family: SevilleSharp-Regular;
  text-anchor: middle;
  text-length: 15;
  x: 50%;
  y: 45%;
  fill: #f8fcf8;
}

#mySteps {
  font-size: 28;
  font-family: Seville-Regular;
  text-length: 6;
  text-anchor: start;
  x: 0%+38;
  y: 100%-12;
  fill: #f8fcf8;
}

#myMins {
  font-size: 28;
  font-family: Seville-Regular;
  text-length: 6;
  text-anchor: start;
  x: 0%+38;
  y: 100%-55;
  fill: #f8fcf8;
}

#myCals {
  font-size: 28;
  font-family: Seville-Regular;
  text-length: 6;
  text-anchor: end;
  x: 100%-38;
  y: 100%-14;
  fill: #f8fcf8;
}

#myStairs {
  font-size: 28;
  font-family: Seville-Regular;
  text-length: 6;
  text-anchor: end;
  x: 100%-38;
  y: 100%-55;
  fill: #f8fcf8;
}

#stepsImg {
  x: 0%+8;
  y:100%-40;
  width: 30;
  height: 30;
}

#activeImg {
  x: 0%+8;
  y:100%-80;
  width: 30;
  height: 30;
}

#calImg {
  x: 100%-35;
  y:100%-40;
  width: 30;
  height: 30;
}

#stairsImg {
  x: 100%-35;
  y:100%-80;
  width: 30;
  height: 30;
}

#stepsArc {
  x: 93; y: 158; width: 114; height: 114; fill: #006DF0; arc-width: 10; start-angle: 0; sweep-angle: 0;
}
#calsArc {
 x: 129; y: 194; width: 42; height: 42; fill: #FFA500; arc-width: 10; start-angle: 0; sweep-angle: 0;
}
#activeArc {
x:105; y:170; width: 90; height:90; fill:#72EF49; arc-width: 10; start-angle: 0; sweep-angle: 0;
}
#stairsArc {
x:117; y:182; width:66; height:66; fill:#EB1515; arc-width: 10; start-angle: 0; sweep-angle: 0;
}

#stepsArcBG {
  x: 93; y: 158; width: 114; height: 114; fill: #006DF0; arc-width: 10; start-angle: 0; sweep-angle: 360; opacity: 0.4;
}
#calsArcBG {
 x: 129; y: 194; width: 42; height: 42; fill: #FFA500; arc-width: 10; start-angle: 0; sweep-angle: 360; opacity: 0.4;
}
#activeArcBG {
x:105; y:170; width: 90; height:90; fill: #72EF49; arc-width: 10; start-angle: 0; sweep-angle: 360; opacity: 0.4;
}
#stairsArcBG {
x:117; y:182; width:66; height:66; fill: #EB1515; arc-width: 10; start-angle: 0; sweep-angle: 360; opacity: 0.4;
}

#stepsArc2 {
  x: 25; y: 25; width: 250; height: 250; fill: #006DF0; arc-width: 16; start-angle: 0; sweep-angle: 0;
}
#activeArc2 {
x:43; y:43; width: 214; height:214; fill:#72EF49; arc-width: 16; start-angle: 0; sweep-angle: 0;
}
#stairsArc2 {
x:61; y:61; width:178; height:178; fill:#EB1515; arc-width: 16; start-angle: 0; sweep-angle: 0;
}
#calsArc2 {
 x: 79; y: 79; width: 142; height: 142; fill: #FFA500; arc-width: 16; start-angle: 0; sweep-angle: 0;
}

#stepsArcBG2 {
  x: 25; y: 25; width: 250; height: 250; fill: #006DF0; arc-width: 16; start-angle: 0; sweep-angle: 360; opacity: 0.4;
}
#activeArcBG2 {
x:43; y:43; width: 214; height:214; fill: #72EF49; arc-width: 16; start-angle: 0; sweep-angle: 360; opacity: 0.4;
}
#stairsArcBG2 {
x:61; y:61; width:178; height:178; fill: #EB1515; arc-width: 16; start-angle: 0; sweep-angle: 360; opacity: 0.4;
}
#calsArcBG2 {
 x: 79; y: 79; width: 142; height: 142; fill: #FFA500; arc-width: 16; start-angle: 0; sweep-angle: 360; opacity: 0.4;
}

#hrm-data {
font-size: 32;
  font-family: Seville-Regular;
  text-anchor: middle;
  fill: #f8fcf8;
  x: 50%;
  y: 50%-4;
  display: visible;
}
#dataIcon {
  x: 50%-16;
  y: 50%;
  width: 32;
  height: 32;
  fill: red;
}
