.background {
  viewport-fill: black;
}

#myTime {
  font-size: 100;
  font-weight: bold;
  font-family: Seville-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 50%;
  y: 32%;
  fill: #f8fcf8;
}

#myDateLabel {
  font-size: 32;
  font-family: SevilleSharp-Regular;
  text-anchor: middle;
  text-length: 15;
  x: 50%;
  y: 48%;
  fill: #f8fcf8;
}

#mySteps {
  font-size: 28;
  font-family: Seville-Regular;
  text-length: 6;
  text-anchor: start;
  x: 0%+40;
  y: 100%-12;
  fill: #f8fcf8;
}

#myStairs {
  font-size: 28;
  font-family: Seville-Regular;
  text-length: 6;
  text-anchor: start;
  x: 0%+40;
  y: 100%-55;
  fill: #f8fcf8;
}

#myCals {
  font-size: 28;
  font-family: Seville-Regular;
  text-length: 6;
  text-anchor: end;
  x: 100%-36;
  y: 100%-14;
  fill: #f8fcf8;
}

#myMins {
  font-size: 28;
  font-family: Seville-Regular;
  text-length: 6;
  text-anchor: end;
  x: 100%-36;
  y: 100%-55;
  fill: #f8fcf8;
}

#stepsImg {
  x: 0%+5;
  y:100%-40;
  width: 30;
  height: 30;
}

#stairsImg {
  x: 0%+5;
  y:100%-80;
  width: 30;
  height: 30;
}

#calImg {
  x: 100%-30;
  y:100%-40;
  width: 30;
  height: 30;
}

#activeImg {
  x: 100%-30;
  y:100%-80;
  width: 30;
  height: 30;
}

#myBatteryLow {
  font-size: 16;
  font-family: SevilleSharp-Bold;
  x: 97%;
  y: 7%;
  text-anchor: end;
  fill: red;
}

#myBattery {
  font-size: 16;
  font-family: SevilleSharp-Bold;
  x: 97%;
  y: 7%;
  text-anchor: end;
  fill: white;
}

#charge {
  x: 2%;
  y: 0%;
  width: 32;
  height: 32;
  text-anchor: start;
}

#stepsArc {
  x: 119; y: 130; width: 110; height: 110; fill: #006DF0; arc-width: 10; start-angle: 0; sweep-angle: 0;
}
#activeArc {
x:129; y:140; width: 90; height:90; fill:#72EF49; arc-width: 10; start-angle: 0; sweep-angle: 0;
}
#stairsArc {
x:139; y:150; width:70; height:70; fill:#EB1515; arc-width: 10; start-angle: 0; sweep-angle: 0;
}
#calsArc {
 x: 149; y: 160; width: 50; height: 50; fill: #FFA500; arc-width: 10; start-angle: 0; sweep-angle: 0;
}